svg {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
circle {
  cursor: pointer;
}
.noUi-connect {
  background: rgba(150, 204, 255, 0.5);
  box-shadow: none;
}
.noUi-horizontal .noUi-tooltip {
  bottom: -150%;
}
