circle {
  cursor: pointer;
}
.noUi-connect {
  background: #96ccff;
  box-shadow: none;
}
.noUi-horizontal {
  height: 10px;
}
.noUi-horizontal .noUi-tooltip {
  bottom: -170%;
  color: #96ccff;
  font-weight: bold;
  font-size: 1rem;
  border: 3px solid #96ccff;
}
.noUi-horizontal .noUi-handle {
  height: 30px;
  width: 30px;
  left: -15px;
  top: -10px;
  border: 3px solid #96ccff;
}
.noUi-handle:after, .noUi-handle:before {
  display: none;
}
.noUi-handle {
  border-radius: 50%;
}
#nationalities-menu {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
#nationalities-list {
  overflow-y: scroll;
  height: 100vh;
}
@media(min-width: 60em) {
  #nationalities-list {
    height: 300px;
  }
}
#nationalities-list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}
#nationalities-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(150, 204, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
